<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="File" name="jsonFile1" fileName="C:\\Users\\ryang\\Documents\\Files\\temp\\1\\${logFileNamePrefix}-v1.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="message" layout="${message}" />
				<attribute name="properties" encode="false" >
					<layout xsi:type="JsonLayout" includeEventProperties="true" maxRecursionLimit="2" />
				</attribute>
				<attribute name="exception" encode="false">
					<layout xsi:type="JsonLayout">
						<attribute name="type" layout="${exception:format=type}" />
						<attribute name="message" layout="${exception:format=message}" />
						<attribute name="stacktrace" layout="${exception:format=tostring}" />
					</layout>
				</attribute>
			</layout>
		</target>
		<target name="jsonFile2" xsi:type="File" fileName="${logFileNamePrefix}-v2.json" >
			<layout xsi:type="MicrosoftConsoleJsonLayout" includeScopes="Boolean">
				<attribute name="extraPropertyName" layout="extraPropertyValue" />
				<state name="extraStateName" layout="extraStateValue" />
			</layout>
		</target>
		<target xsi:type="Console" name="logconsole">
			<!--layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}"-->
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="message" layout="${message}" />
				<attribute name="properties" encode="false" >
					<layout xsi:type="JsonLayout" includeEventProperties="true" maxRecursionLimit="2" />
				</attribute>
				<attribute name="exception" encode="false">
					<layout xsi:type="JsonLayout">
						<attribute name="type" layout="${exception:format=type}" />
						<attribute name="message" layout="${exception:format=message}" />
						<attribute name="stacktrace" layout="${exception:format=tostring}" />
					</layout>
				</attribute>
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="jsonFile1" />
		<logger name="*" minlevel="Debug" writeTo="jsonFile2" />
		<logger name="*" minlevel="Debug" writeTo="logconsole" />
	</rules>
</nlog>